*{
	margin:0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.header {
	overflow: hidden;
}

.logo {
	width: 20%;
	background: #1a54e7;
	text-align: right;
	color: #ffffff;
	padding: 6px;
	float: left;
}

.nav1 {
	width: 30%;
	float: left;
}
.nav1 ul{list-style: none;}
.nav1 ul li {display: inline-block;padding-left: 10px;color: #b1b1b1;}
.nav1 ul li a{text-decoration: none;color: #b1b1b1;}
.fas.fa-search {
	background: #f6f6f6;
	padding: 10px;
	margin-left: -10px;
}

.nav2 {
	float: left;
	padding: 5px;
}
.nav2 ul{list-style: none;}
.nav2 ul li {display: inline-block;padding-left: 10px;color: #396bea;}
.nav2 ul li a{text-decoration: none;color: #1a54e7;}
.nav2 ul li:hover{border-bottom: 2px solid #396bea;}
.nav2 span{display: inline-block;background: #706bea;width: 5px;height: 5px;border-radius: 50%;}
.banner {
	background: url(../img/banner.png);
	background-size: cover;
	height: 100vh;
	position: relative;
}

.wrapper {
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}

.bannercont {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.bannercont img{}
.bannercont h1{color: #ffffff;font-size: 22pt;}
.bannercont .pepole{}
.bannercont .date{}
.arro-left {
	position: absolute;
	color: #fff;
	top: 50%;
	left: 0%;
	transform: translate(-0%,-50%);
	padding: 1px;
}

.fas.fa-angle-left {
	background: #fff;
	color: #c1c1c1;
	padding: 10px;
}

.arro-right {
	position: absolute;
	color: #fff;
	top: 50%;
	left: 100%;
	transform: translate(-100%,-50%);
	padding: 1px;
}

.fas.fa-angle-right {
	background: #fff;
	color: #c1c1c1;
	padding: 10px;
}

.pepole {
	position: absolute;
	background: #1a54e7;
	padding: 3px 6px;
	top: 90%;
	left: 6%;
	color: #ffff;
}

.date {
}

.home {
	background: #f6f6f6;
	padding: 50px 0px;
}

.col-2 {
	width: 50%;
	float: left;
	padding: 0px,10px;
	position: relative;
	box-sizing: border-box;
}
.col-2 img{}
.col-2 p{}
.date{padding: 10px 0;color: #b0b0b0;}
.trips {position: absolute;top: 55%;left: 0;color: #fff;background: #d90445;padding: 5px 15px;}

.Tech {position: absolute;top: 55%;left: 0;color: #fff;background: black;padding: 5px 15px;}
.prim{padding: 60px 0;position: relative;}
.proin {
	background: url(../img/road.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 402px;
	width: 1175px;
	position: relative;
}

.proincont {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.proincont h1{color: #fff;}
.proincont p{color: #fff;}
.primdate{position: absolute;top: 70%;left: 70%;color: #fff;}
.ptrips{position: absolute;top: 70%;background: #D90446;padding: 5px 15px;color: #fff;}
.np {
}

.col-3 {
	width: 33.33%;
	float: left;
	box-sizing: border-box;
	position: relative;
}
.col-3 img{}
.col-3 p{}
.c3date{top: 90%;position: absolute;right: 7%;color: #fff;}

.nature {position: absolute;top: 55%;background: #58b600;padding: 5px 15px;color: #fff;}

.people {position: absolute;top: 55%;background: #1a54e7;padding: 5px 15px;color: #fff;}

.tech {position: absolute;top: 55%;background: #000000;padding: 5px 15px;color: #fff;}

.fashion {position: absolute;top: 55%;background: #8200b2;padding: 5px 15px;color: #fff;}

.news {
	background: url(../img/bluebg.png);
	text-align: center;
	padding: 100px;
	background-size: cover;
	background-repeat: no-repeat;
}

.newshead {text-align: center;}
.newshead h1{
    color: #fff;
    padding: 10px 0;
    font-size: 45px;
}
.newshead p{
    color: #8baeff;
    padding: 10px 0;
    font-size: 20px;
}
.sign {width: 350px;background: #2c6cff;margin: 0 auto;padding: 10px;border-radius: 35px;text-align: right;margin-top: 15px;}
.sign a{
    background: #fff;
    padding: 11px 25px;
    border-radius: 20px;
    margin-right: -9px;
    text-decoration: none;
}
.foot {text-align: center;padding: 100px;}
.foot p{
    max-width: 700px;
    margin: 0 auto;
    color: #a7acbc;
}